[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "coveralls-cmake"]
	path = coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake/
